PORT=8787
APP_ORIGIN=http://127.0.0.1:5500

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=places_i_shot
MYSQL_USER=root
MYSQL_PASSWORD=你的MySQL密码

JWT_SECRET=换成一串很长很随机的字符串

COS_REGION=你的COS地域
COS_BUCKET=你的桶名-125xxxxxxxxxx
COS_SECRET_ID=你的SecretId
COS_SECRET_KEY=你的SecretKey
COS_PUBLIC_BASE_URL=https://你的桶名-125xxxxxxxxxx.cos.ap-guangzhou.myqcloud.com
